{% extends "base_user.html"%}
{% block content %}
<body>
    <div class="container container">
        <div class="row">
            <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                <form action="/complaint-report" method="post">
                    <table class="table table-borderless">
                        <tr>
                            <td style="color:rgb(250, 248, 252)" class="font-weight-bold"> DESCRIPTION </td>
                            <td><textarea class="form-control" name="description" rows="3"></textarea></td>
                        </tr>
                        <tr>
                            <td style="color:rgb(245, 247, 244)" class="font-weight-bold"> REMARKS </td>
                            <td><input type="text" name="remarks" class="form-control" ></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><button class = "btn btn-warning"> Report </button></td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>

    </div>
{% endblock %}