{% extends "base_user.html"%}
{% block content %}
<body>
    <div class="container container">
        <div class="row">
            <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                <form action="#" method="post">
                    <table class="table table-borderless">
                        <h1 style="color: aliceblue;">Reported Successfully...!</h1>
                        <tr>
                            <td><a href="/complaint-report-guest">Complaint a Report</a></td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>

    </div>
    {% endblock %}